// colors
$accentColor = #41BBD9
$textColor = #fff
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

$primaryAccentColor = #05CFB9

// layout
$navbarHeight = 4.2rem
$sidebarWidth = 20rem
$pageContentMaxWidth = 1280px
$internalHeroHeight = 15em
$sidesPadding = clamp(5%, 7%, 12.9%)
$sidesPaddingDesktop = clamp(5%, 236px, 12.9%)

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem

// text
$primaryFontFamily = 'Space Grotesk', sans-serif
$secondaryFontFamily = 'Oxygen Mono', monospace